<div class="col-sm-2 col-md-4 productindex">
 <% cache product do %>
  <h2><%= product.name %></h2>
  <%= image_tag(product.image_url, class: "img-responsive saleproduct") %>
  <p><%= product.description %></p>
  <h2>$ <%= product.pricing %></h2>
  <p><%= link_to 'Show', product %>
 <% end %> 

  <% if current_user && current_user.admin? %>
  	<%= link_to ('Edit').html_safe, edit_product_path(product) %>
  	<%= link_to 'Destroy'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>

</div> <!--/col-->



