<div class="container-fluid product_show">

<% cache @product do %>
<div class="row">
  <div class="col-md-12">
      <%= image_tag(@product.image_url, class: "img-responsive thumbnail img-zoom", data_zoom_image: "@product.image_url") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <p class="show">
   <strong>Name:</strong><br>
    <%= @product.name %>
  </p>

  <p class="show">
    <strong>Description:</strong><br>
    <%= @product.description %>
  </p>

  <p class="show">
    <strong>Image url:</strong><br>
    <%= @product.image_url %>
  </p>

  <p class="show">
    <strong>Colour:</strong><br>
    <%= @product.colour %>
  </p>

  <p class="show">
    <strong>Pricing:</strong><br>
    <%= @product.pricing %>
  </p>

  <% end %> 

  <div class="stripepayment"> 
  <% if signed_in? %>
      <%= form_tag '/payments' do %>
      <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: 'shared/stripe_checkout_button' %>
        <% end %> 
      <% end %>  
  </div>

  <br>
  <br>
  <%= render partial: 'new_comment' %>
  <br>
    <p class="show">
    <strong>Average Rating:</strong><br>
    <div class="rated #average-rating" data-score="<%= @product.average_rating %>"></div>
  </p>

  <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>


  <p><%= render partial: 'comments' %></p>
  <p><%= will_paginate @comments %></p>

  <br>



<p><%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %> </p>

</div>
</div>
</div>

