<div class="container-fluid product_show">

<div class="row">
  <div class="col-md-12">
      <%= image_tag(@product.image_url, class: "img-responsive thumbnail") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <p class="show">
   <strong>Name:</strong><br>
    <%= @product.name %>
  </p>

  <p class="show">
    <strong>Description:</strong><br>
    <%= @product.description %>
  </p>

  <p class="show">
    <strong>Image url:</strong><br>
    <%= @product.image_url %>
  </p>

  <p class="show">
    <strong>Colour:</strong><br>
    <%= @product.colour %>
  </p>

  <p class="show">
    <strong>Pricing:</strong><br>
    <%= @product.pricing %>
  </p>

  <div class="stripepayment"> <%= form_tag '/payments/create' do %>
        <%= render partial: 'shared/stripe_checkout_button' %>
        <% end %> 
  </div>

  <br>
  <br>
  <%= render partial: 'new_comment' %>
  <br>
    <p class="show">
    <strong>Average Rating:</strong><br>
    <div class="rated" data-score="<%= @product.average_rating %>"></div>
  </p>


  <p><%= render partial: 'comments' %></p>
  <p><%= will_paginate @comments %></p>

  <br>



<p><%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %> </p>

</div>
</div>
</div>

